<!DOCTYPE html>
<!--
      .o8                                                          
     "888                                                          
 .oooo888  oooo d8b  .ooooo.   .oooo.   ooo. .oo.  .oo.   oooo d8b 
d88' `888  `888""8P d88' `88b `P  )88b  `888P"Y88bP"Y88b  `888""8P 
888   888   888     888ooo888  .oP"888   888   888   888   888     
888   888   888     888    .o d8(  888   888   888   888   888     
`Y8bod88P" d888b    `Y8bod8P' `Y888""8o o888o o888o o888o d888b    
                                                                   
-->   
<html>
  <head>
    <title>Dreamr, where dreams reside</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Bevan&display=swap" rel="stylesheet">
    <% if logged_in? %>
      <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
      </script>
    <% end %>
    <script type="text/javascript">
      window.avatar = "<%= image_url("cloud_avatar.png")  %>";
      window.avatar2 = "<%= image_url("cloud_avatar.jpg")  %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
